/* Header.css */

.header {
    background-color:#6E896A;
    color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
  }
  
  .banner {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 60px; /* Adjust the height of the logo as needed */
    margin-right: 20px;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }
  
  .navigation {
    margin-top: 10px; /* Add space between the banner and navigation links */
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px; /* Add space between navigation links */
  }
  
  .navigation li:last-child {
    margin-right: 0; /* Remove margin for the last navigation link */
  }
  
  .navigation a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  